<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <mapping class="com.project.model.AngBook"/>
        <mapping class="com.project.model.Price"/>
        <mapping class="com.project.model.AngBookGenre"/>
        <mapping class="com.project.model.BookGenre"/>
        
         <mapping class="com.project.model.UserDetails"/>
         <mapping class="com.project.model.UserDetailsAngBook"/>
          
        
    </session-factory>
</hibernate-configuration>
