<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
	  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
      <mvc:annotation-driven />
     <!-- <http auto-config="true" use-expressions="true" entry-point-ref="myAuthenticationEntryPoint"> -->
	
	<http auto-config="true" use-expressions="true" >
	
		 <intercept-url pattern="/webServices/**"/> 
		<!-- <intercept-url pattern="/welcome" access="hasAuthority('ADMIN')"/> 
		<intercept-url pattern="/getallbooks" access="hasAuthority('ADMIN')" /> 
		<intercept-url pattern="/welcome-abc" access="hasAuthority('USER')"/> -->
		
		
			
		<form-login login-page="/login"  authentication-success-handler-ref="ddAuthenticationSuccessHandler"  authentication-failure-handler-ref="ddAuthenticationFailureHandler"  default-target-url="/welcome" authentication-failure-url="/login?error=true" />
		
		<!-- <access-denied-handler error-page="/403" /> -->
		
		<logout logout-success-url="/home.html" />
		  <csrf disabled="true"/>  
		  
		<port-mappings>
		
		<port-mapping http="80" https="443"/>
        <!-- Websphere default ports -->
        <port-mapping http="9080" https="9443"/>
        <!-- Tomcat default ports -->
        <port-mapping http="8080" https="8443"/>
        <!-- Jetty custom ports -->
        <port-mapping http="7777" https="7443"/>
		
		</port-mappings>
		
	</http>
	
	
	
	<!-- <beans:alias name="filterChainProxy" alias="springSecurityFilterChain"/> -->
	
	<beans:bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
  	<filter-chain-map request-matcher="ant" >
     <filter-chain pattern="/webServices/**" filters="tokenValidationFilter" />
           </filter-chain-map>
	</beans:bean>
	
	<global-method-security pre-post-annotations="enabled"/>
	
	<beans:bean id="tokenValidationFilter" class="com.project.manager.TokenValidationFilter">
	</beans:bean>
	
	<beans:bean id="myAuthenticationEntryPoint" class="com.project.manager.MyAuthenticationEntryPoint">
	</beans:bean>
	<beans:bean id="ddAuthenticationSuccessHandler" class="com.project.manager.DDAuthenticationSuccessHandler">
	</beans:bean>
	
	<beans:bean id="ddAuthenticationFailureHandler" class="com.project.manager.DDAuthenticationFailureHandler">
	</beans:bean>
	
	<beans:bean id="customUserDetailsService" class="com.project.manager.CustomUserDetailsService">
	</beans:bean>
	
	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
			<!-- <password-encoder ref="encoder"></password-encoder> -->
		</authentication-provider>
	</authentication-manager>
	
	<!-- <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	<beans:constructor-arg name="strength" value="11" />
  	</beans:bean> -->
  	
  </beans:beans>